body{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/bg.webp);
  background-size: cover;
}

#Navbar{
  padding: auto 5%;
  margin:30px;
}
 .navbar-brand{
   font-size: 2.5rem;
   font-weight: 700;
   color: white;
  font-family: 'Russo One', sans-serif;
 }

 .nav-link{
   font-size: 1.3rem;
   font-weight: bold;
   color: white;
   padding:20px;
 }

#Title{
  text-align: center;
}

.img{
  width: 250px;
  height:250px;
}
 p{
   font-size: 2rem;
   font-family: 'Philosopher', sans-serif;
   color: white;
 }
